<!doctype html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details</title>
  </head>

  <body>
    <div class="pokemon-img-container">
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/635.png"
        alt=""
        class="pokemon-zoom-out-img"
        id="pokemon-zoom-out-img"
      />
    </div>

    <div class="info-grid">
      <!-- Basic Info -->
      <div class="misc-infos">
        <span class="span-info weight"> Weight: </span>
        <span class="span-info height"> Height: </span>
        <span class="span-info friend"> Base Friendship: </span>
        <span class="span-info version"> Appeared in: </span>
      </div>

      <!-- Status section -->
      <div class="status-info">
        <div class="types">
          <div class="type1">Dark</div>
          <div class="type2">Dragon</div>
        </div>

        <div class="base-status">
          <div class="slider pokemon.hp" id="pokemon.hp">----</div>
          <div class="slider pokemon.attack" id="pokemon.attack">-----</div>
          <div class="slider pokemon.defense" id="pokemon.defense">----</div>
          <div class="slider pokemon.sp-attack" id="pokemon.sp-attack">-------------</div>
          <div class="slider pokemon.sp-defense" id="pokemon.sp-defense">--------</div>
          <div class="slider pokemon.speed" id="pokemon.speed">------------</div>
          <div class="slider pokemon.total" id="pokemon.total"> Total: </div>
        </div>
      </div>

      <!-- Moves section -->
      <div class="moves-info">
        <div class="search-bar">
          <input type="text" placeholder="Search by name!" class="search-moves" id="search-moves" />
        </div>

        <div class="select-section">
          <select class="learned-moves" name="search" id="learned-moves">
            <option value="">By Level-up</option>
            <option value="">By TM's</option>
            <option value="">by Egg Groups</option>
          </select>
        </div>
      </div>

    </div>
    
  </body>
</html>
