/* this CSS file will follow the same struture as the header.html file */

html{
    align-items: center;
    justify-content: center;
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* @font-face {
    font-family: 'GS Heavy Italic';
    src: url('src/app/assets/fonts/gill-sans-2/Gill Sans Heavy Italic.otf');
} */


.header{
    /* background-color: #f24855; */
    justify-content: center;
    align-content: center;
    max-height: 100px;
    background: linear-gradient(
        to right,
        #f24855 25%,
        #d53345 75% 
    );
    border-radius: 10px;
    box-shadow: 0 3px 10px #2424248f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}



/* LOGO DIV */
.logoContainer{
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    align-items: center;
    justify-content: space-evenly;
}   

.imgLogo{
    width: 90px;
    height: 90px;
    background-color: #24242478;
    
}

.bt-logo-style{
    /* position: relative;
    padding: 0.75rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 250ms;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;

    box-shadow: 
    inset 0 1px 0 0 #f4f4f4,
    0 1px 0 0 #5c5c5cdd,
    0 2px 0 0 #5f5f5fb5,
    0 4px 0 0 #5d5d5d,
    0 5px 0 0 #5e5e5ec2,
    0 6px 0 0 #5c5c5cbb,
    0 7px 0 0 #5a5a5acb,
    0 7px 8px 0 #5e5e5ea5; */
}

.bt-logo-style:hover{
    /* transform: translateY(4px);
    box-shadow: 
    inset 0 1px 0 0 #f4f4f4,
    0 1px 0 0 #efefef,
    0 1px 0 0 #ececec,
    0 2px 0 0 #e0e0e0,
    0 2px 0 0 #dedede,
    0 3px 0 0 #dcdcdc,
    0 4px 0 0 #cacaca,
    0 4px 6px 0 #cecece; */
}



/* NAVIGATION */
.navContainer{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    margin-block: 3%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* BUTTONS */
.bt-style{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    gap: 30px;
}

.bt-pokedex, .bt-mega-forms,
.bt-gmax-forms, .bt-about{
    height:  50px;
    width: 110px;

    position: relative;
    font-size: 20px;
    padding: 0.75rem 2rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 250ms;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;

    box-shadow: 
    inset 0 1px 0 0 #f4f4f4,
    0 1px 0 0 #5c5c5cdd,
    0 2px 0 0 #5f5f5fb5,
    0 4px 0 0 #5d5d5d,
    0 5px 0 0 #5e5e5ec2,
    0 6px 0 0 #5c5c5cbb,
    0 7px 0 0 #5a5a5acb,
    0 7px 8px 0 #5e5e5ea5;

}

.bt-pokedex:hover, .bt-mega-forms:hover,
.bt-gmax-forms:hover, .bt-about:hover{
    transform: translateY(4px);
    box-shadow: 
    inset 0 1px 0 0 #f4f4f4,
    0 1px 0 0 #efefef,
    0 1px 0 0 #ececec,
    0 2px 0 0 #e0e0e0,
    0 2px 0 0 #dedede,
    0 3px 0 0 #dcdcdc,
    0 4px 0 0 #cacaca,
    0 4px 6px 0 #cecece;
}

.bt-gmax-forms{
    width: 130px;
}


/* User Profile */
.userContainer{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
}

.bt-user-style{
    position: relative;
    border: none;
    cursor: pointer;
    transition: all 250ms;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    background-color: #f0f0f0;
    color: #242424;
    box-shadow: 
    inset 0 1px 0 0 #f4f4f4,
    0 1px 0 0 #5c5c5c,
    0 2px 0 0 #5f5f5f,
    0 4px 0 0 #5d5d5d,
    0 5px 0 0 #5e5e5e,
    0 6px 0 0 #5c5c5c,
    0 7px 0 0 #5a5a5a,
    0 7px 8px 0 #5e5e5e;

}

.bt-user-style:hover{
    transform: translateY(4px);
    box-shadow: 
    inset 0 1px 0 0 #f4f4f4,
    0 1px 0 0 #efefef,
    0 1px 0 0 #ececec,
    0 2px 0 0 #e0e0e0,
    0 2px 0 0 #dedede,
    0 3px 0 0 #dcdcdc,
    0 4px 0 0 #cacaca,
    0 7px 8px 0 #cecece;
}

.userAccount{

    align-items: end;
    justify-content: end;   

    padding: 3px ;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 250ms;
    display: inline-flex;
    justify-content: center;
}

.imgUser{
    max-width: 70px;
    max-height: 70px;
    border-radius: 50%;
    align-items: end;
    justify-content: end;
}




