<!-- topnav= pokedex completa, mega, gmax, sobre -->


<div class="header"> 
    
    <div class="navContainer">
        <nav class="topnav">

            <ul class="nav">
                <li class="pokedex"> Pokedéx </li>
                <li class="mega-forms"> Megas </li>
                <li class="gmax-forms"> G- MAX </li>
                <li class="about"> About </li>
            </ul>

            <div class="userContainer">
                <a href="/" class="userAccount">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/644.png" alt="" class="imgUser">
                </a>
            </div>
        </nav>
    </div>
</div>


