<div class="auth-page">
  <div class="auth-card">
    <div class="logo-area">
      <img
        src="https://raw.githubusercontent.com/jeivyyy/LetterDEX/master/src/app/assets/img/ldx-logo.gif"
        alt="LetterDEX Logo"
        class="auth-logo"
      />
    </div>

    <div class="login-content">
      <h2>Welcome to LetterDEX</h2>
      <p>Access your account</p>

      <div class="input-group">
        <input type="email" class="email" placeholder="Your e-mail here" />
      </div>

      <div class="input-group">
        <input type="password" class="password" placeholder="And your password here" />
      </div>

      <button class="bt-login" routerLink="/header">Login</button>

      <span class="register-text"> Don’t have an account? <strong>Register</strong> </span>
    </div>
  </div>
</div>
