<div class="info">
  @if (pokemon) {
    <div class="bt-backg">
      <button class="back" routerLink="/pokemon">Go back.</button>
    </div>

    <div class="pokemon-img-container">
      <img
        [src]="pokemon.image"
        [alt]="pokemon.name"
        class="pokemon-zoom-out-img"
        id="pokemon-zoom-out-img"  
      />    
    </div>             

    <div class="pokemon-details-card">           
      <div class="info-grid">  
        <div class="misc-infos">
          <div class="span-info">
            <span class="name">    
              {{ pokemon.name }}
            </span>       
          </div>      
        </div>

        <div class="status-info">
          <div class="types">
            @for (type of pokemon.types; track type) {
              <div class="type" [style.background-image]="getTypeBackground(type)">     
                {{ type }} 
              </div>
            }
          </div>

          <div class="abilities">
            @for (ability of pokemon.abilities; track ability.name) {
              <div class="abls">
                {{ ability.name }}
              </div>
            }
          </div>
        
          <div class="base-status-grid">
            @for (stat of stats; track stat.name) {
              <div class="status-row">
                <div class="sts-card">
                  <div class="slider">
                    <div class="slider-progress" [style.width.%]="statPercent(stat.value)"></div>

                    <small class="sts-name"> {{ stat.label }}: </small>
                  </div>
                </div>

                <div class="sts-value">
                  {{ stat.value }}
                </div>
              </div>
            }

            <span class="name-total">
              Total:
              <span class="total-value">        
                {{ totalStats }}
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  } @else {
    <p>Loading Pokémon details...</p>    
  }

  <div class="comment">

  </div>

</div>
